/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

modal {
    /* modals are hidden by default */
    display: none;

    .modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .modal-background */
        z-index: 1000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .modal-body {
            padding: 20px;
            background: #fff;

            /* margin exposes part of the modal background */
            margin: 40px;
        }
    }

    .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .modal and above everything else  */
        z-index: 900;
    }
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

grid {
    .grid-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 3%;
        background-color: #fff;
        color: #444;
    }

    .grid-item {
        background-color: #444;
        color: #fff;
        border-radius: 15px;
        padding: 20px;
        font-size: 150%;
        border: 2px solid #444;

        -moz-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
        padding: 20px;
    }

    .grid-item:hover {
        cursor: pointer;
        background: #e6e6e6;
    }

    .grid-item:hover h4{
        cursor: pointer;
        color: #444;
    }

    .grid-item h4 {
        text-align: center;

        -moz-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
    }
}
